@page
@model IndexModel
@using rpiThermo.logic
@{
    ViewData["Title"] = "Home page";
}
@{
    Temps temps = new Temps();
    string text = temps.GetTemp(3).ToString();
}
<div class="text-center">
    <h1 class="display-4">@text</h1>
    <input class="button"
    <a asp-page="/Schedules/Index">Schedules</a>
</div>

